h1{
    background-color: black;
color: red;
border: 3px solid yellow;
text-align: center;
margin: 0%;
}
table,td,th{
    
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px 98px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#head{background-color: rgba(0, 255, 255, 0.527);}

tr:nth-child(odd){background-color: rgba(47, 49, 49, 0.24);}
tr:hover{background-color: rgba(23, 139, 81, 0.411);}
